table, th, td {
    border: 1px solid #000;
	border-collapse: collapse;
 }

 th, td {
	 padding: 15px;
 }

 thead{
	 background-color:azure;
 }

 tfoot{
	 background-color: aliceblue;
	 text-align: center;
	 font-weight: bold;
 }
